---
import BaseLayout from "@/layouts/Base.astro";
import { TypographyH1, TypographyLead } from "../components/typography";
import CardProject from "../components/CardProject.astro";
import tredCover from "../../src/images/tred/cover.png";
import rhizeCover from "../../src/images/rhize/cover.png";
import jsonataStudioCover from "../../src/images/jsonata-studio/cover.png";
import kalendaraCover from "../../src/images/kalendara/cover.png";
import weatherAppCover from "../../src/images/weather-app/cover.png";
import recipeAppCover from "../../src/images/recipe-app/cover.jpg";
---

<BaseLayout title="Vlad Dimov | Software Developer | Portfolio">
  <section class="h-[80vh] flex items-center justify-center">
    <div class="px-4 h-4/5 flex flex-col items-center justify-center gap-8">
      <TypographyH1 className="font-bold">VLAD DIMOV</TypographyH1>
      <TypographyLead className="text-center max-w-3xl"
        >A full-stack software developer with advanced knowledge in building
        modern web applications with Typescript and React, and robust servers
        with Node and Go.</TypographyLead
      >
      <button class="bg-black text-white py-2 px-4 rounded-md mt-4"
        ><a href="mailto:devdimov@proton.me">Send email</a></button
      >
    </div>
  </section>
  <section class="mb-40">
    <div
      class="mx-auto grid grid-cols-1 sm:grid-cols-3 sm:max-w-7xl gap-12 px-4 sm:px-0"
    >
      <CardProject
        href="/portfolio/tred"
        imageMeta={tredCover}
        imageClass="py-4"
        alt="Tred project cover image"
        title="Tred Earth"
        description="A mobile banking app that allows users and businesses to monitor and understand the impact their spending has on the environment."
        categories={[{ name: "Paid Employment" }]}
        tools={[
          { name: "Typescript" },
          { name: "React Native" },
          { name: "PostgreSQL" },
          { name: "Detox" },
          { name: "Jest" },
          { name: "Git" },
          { name: "AWS" },
        ]}
      />
      <CardProject
        href="/portfolio/rhize"
        imageMeta={rhizeCover}
        imageClass="py-2"
        alt="Rhize project cover image"
        title="Rhize Manufacturing Data Hub"
        description="Rhize is a data hub that collects, stores, integrates, and processes data from a manufacturing system."
        categories={[{ name: "Paid Employment" }]}
        tools={[
          { name: "Typescript" },
          { name: "React" },
          { name: "Go" },
          { name: "GraphQL" },
          { name: "Docker" },
          { name: "Cypress" },
          { name: "Grafana" },
          { name: "MQTT" },
        ]}
      />
      <CardProject
        href="/portfolio/jsonata-studio"
        imageMeta={jsonataStudioCover}
        alt="JSONata Studio cover image"
        title="JSONata Studio"
        description="A code editing app for transforming JSON structures and debugging JSONata expressions in a browser with instant feedback."
        categories={[{ name: "Personal Project" }]}
        tools={[
          { name: "Typescript" },
          { name: "Next.js" },
          { name: "Tailwind CSS" },
          { name: "Monaco Editor" },
          { name: "Jest" },
          { name: "Markdown" },
          { name: "PostgreSQL" },
          { name: "AWS" },
        ]}
      />
      <CardProject
        href="https://github.com/DevDimov/planner-ui"
        imageMeta={kalendaraCover}
        alt="Kalendara cover image"
        title="Kalendara"
        description="A customisable calendar app for managing and visualising your schedule."
        categories={[{ name: "Personal Project" }]}
        tools={[
          { name: "Typescript" },
          { name: "React" },
          { name: "Tailwind CSS" },
          { name: "GraphQL" },
          { name: "Auth0" },
          { name: "Zod" },
          { name: "Jest" },
          { name: "Cypress" },
          { name: "shadcn" },
        ]}
      />
      <CardProject
        href="https://github.com/DevDimov/react-openweather-app"
        imageMeta={weatherAppCover}
        alt="Weather app cover image"
        title="Weather App"
        description="A minimalist feature-rich weather app serving data from the OpenWeather API."
        categories={[{ name: "Personal Project" }]}
        tools={[
          { name: "HTML" },
          { name: "CSS" },
          { name: "JavaScript" },
          { name: "React" },
          { name: "Express.js" },
          { name: "Figma" },
        ]}
      />
      <CardProject
        href="https://github.com/DevDimov/recipe-book"
        imageMeta={recipeAppCover}
        alt="Recipe app cover image"
        title="Recipe App"
        description="A recipe app for storing favourite recipes in one place."
        categories={[{ name: "Personal Project" }]}
        tools={[
          { name: "HTML" },
          { name: "CSS" },
          { name: "JavaScript" },
          { name: "React" },
          { name: "MongoDB" },
          { name: "Express.js" },
          { name: "AWS" },
        ]}
      />
    </div>
  </section>
</BaseLayout>
